.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.title {
  text-align: center;
}

.loginInput {
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;

  &::placeholder {
    color: var(--primary-color);
    opacity: 0.5;
  }
}

.loginBtn {
  margin-left: auto;
  border-radius: 0.375rem;
}
