:root,
.app_dark_theme {
  --bg-color: #131517;
  --inverted-bg-color: #262a2f;
  --primary-color: #fff;
  --secondary-color: #0083fc;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #0083fc;
}
