:root,
.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #e2e2e2;
  --primary-color: #262a2f;
  --secondary-color: #f53;
  --inverted-primary-color: #262a2f;
  --inverted-secondary-color: #f53;
}
