.ProfileCard {
  padding: 1.25rem;
  border: 2px solid var(--inverted-bg-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.inputFirst {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.textInput {
  flex-shrink: 0;
}

.input {
  border: none;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
