.ProfileCard {
  padding: 1.25rem;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 2rem;
}

.inputFirst {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.textInput {
  flex-shrink: 0;
}

.input {
  border: none;
}
