.appLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.primary:hover {
  color: var(--inverted-secondary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.secondary:hover {
  color: var(--inverted-secondary-color);
}
